.cardLink{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; /* Убедитесь, что Link находится поверх содержимого */
  &::after{
    content: '';
    position: absolute;
    inset: 0;
  }
}